<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Aucun train trouvé</title>
    <style>
        /* Styles CSS pour la mise en page de la page "Aucun train trouvé" */
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Aucun train trouvé</h1>
        <p>Aucun train disponible pour les critères de recherche spécifiés.</p>
    </div>
</body>

</html>